<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codepeople.web.mapper.UserMapper">
    
    <resultMap type="cn.codepeople.web.entity.User" id="BaseResultMap">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="age"    column="age"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"   jdbcType="TIMESTAMP"  column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    jdbcType="TIMESTAMP"  column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectVo">
        select id, user_name, age, create_by, create_time, update_by, update_time, remark from tb_user
    </sql>

    <select id="selectList" parameterType="cn.codepeople.web.entity.User" resultMap="BaseResultMap">
        <include refid="selectVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like '%#{userName}%'</if>
        </where>
    </select>
    
    <select id="selectById" parameterType="String" resultMap="BaseResultMap">
        <include refid="selectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertVo" parameterType="cn.codepeople.web.entity.User">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="age != null  and age != ''">age,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="age != null  and age != ''">#{age},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateVo" parameterType="cn.codepeople.web.entity.User">
        update tb_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="age != null  and age != ''">age = #{age},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from tb_user where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from tb_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>